{{- define "main" -}}
  {{- .Content -}}
  {{- partial "home/greetings.html" -}}

  {{- $indexablePages := where site.RegularPages "Params.indexable" "ne" false -}}

  {{- $featured := where $indexablePages "Params.featured" true -}}
  {{- if (and $featured site.Params.rtwt.home.showFeatured) -}}
    <div style="width:95%;margin:0 auto;">
      {{- partial "home/micro-list.html" (dict "items" $featured "title" (i18n "featured_posts")) -}}
    </div>
  {{- end -}}

  {{- if and site.RegularPages site.Params.rtwt.home.showRecent -}}
    {{- $recent := cond site.Params.rtwt.home.hideRecentWhenFeatured (where $indexablePages "Params.featured" "!=" true) site.RegularPages -}}
    <div style="width:95%;margin:0 auto;">
      {{- partial "home/micro-list.html" (dict "items" $recent "title" (i18n "recent_posts")) -}}
    </div>
  {{- end -}}
{{- end -}}

{{- define "side" -}}
  <aside id="side-pane" class="{{- cond site.Params.rtwt.side.home.sidePaneSticky "side-sticky" "" -}}">
    {{- partial "side/home.html" . -}}
  </aside>
{{- end -}}
