/* commonly reused rules */

.notransition { transition: none !important }
.hidden { display: none }
.flex { display: flex }
.grow { flex-grow: 1 }

.no-underline {
  text-decoration: none;
}

.centered-container {
  text-align: center;
  margin: 3rem auto 5rem;
  width: fit-content;
}

.margin-sm {
  margin: .1rem;
}

.text-sm {
  font-size: 0.8rem;
  font-weight: 600;
}

.dim {
  opacity: var(--dim-opacity);
}
